[submodule "slides/reveal.js"]
	path = slides/reveal.js
	url = https://github.com/gdiminneapolis/reveal.js.git
[submodule "slides\\reveal.js"]
	path = slides\\reveal.js
	url = https://github.com/gdiminneapolis/reveal.js.git
